---
import Layout from "../layouts/Layout.astro";
import BlogItem from "../components/BlogItem.astro";
import { getCollection } from "astro:content";

const pageTitle = "Blog";

const allPosts = await getCollection("posts");

---
<Layout title={pageTitle}>
  <main>
    <div class="mx-auto md:max-w-3xl w-full px-10">
      <h1 class="text-4xl font-bold mb-4">{pageTitle}</h1>
      <p class="mb-4">
        This is a collection of posts that I've written. I'm not sure how often I'll write, but I'll try to keep it up to date.
      </p>
      <div>
        {allPosts.map((post) => (
          <BlogItem href={`posts/${post.slug}`} title={post.data.title} description={post.data.description} tags={post.data.tags} author={post.data.author} />   
        ))}
      </div>
    </div>
  </main>
</BaseLayout>